#pr-shield-container {
    position: relative;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    margin-top: 0px;
    color: var(--fgColor-default, var(--color-fg-default, #1F2328));
    background-color: var(--bgColor-attention-muted, var(--color-attention-subtle, #fff8c5));
    border-color: var(--borderColor-attention-muted, var(--color-attention-muted, rgba(212, 167, 44, 0.4)));
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 16px;
}

.pr-shield-span{
    margin-right: 3px;
}

.pr-shield-label{
    font-weight: normal;
}

#pr-shield-head{
    font-weight: bold;
}

#pr-shield-base{
    font-weight: bold;
}

#pr-shield-checkbox{
    margin-right: 5px;
}